<!DOCTYPE html>
<html>
<head>
	
	<style>
		.init_button{
			background-color:red;
		}
	</style>
	
</head>
<body>
	<main>
		<form action="http://127.0.0.1:5000/getData" method="POST" enctype="multipart/form-data">
			<!-- The enctype attribute can be used only if method="post" -->
			<fieldset>
				<legend>Start printing</legend>
				
				<input type="file" value="Send print file" name="file"> <!-- ADD NAME ATTRIBUTE!!! -->
				
				<input type="text" name="texto" placeholder="add a comment">
				
				<select name="options">
					<option value="A">Option1</option>
					<option value="B">Option2</option>
					<option value="C">Option3</option>
				</select>
				
				<input type="submit" value="Initialize printer" class="{{color_class}}"> <!-- replaces {{color_class}} with "init_button" received by python script -->
			
				<input type="button" id="init_printer" value="stopwatch">
			
				<time id="counter">00:00:00</time>
			</fieldset>
			
			<input type="submit" value="Stop printer" formaction="http://127.0.0.1:5000/stopPrinting">
			
			<!-- TIME PRINTING / TOTAL TIME -->
		</form>
	</main>
	
	<script>
		var counter = document.getElementById("counter"),
			seconds = 0, minutes = 0, hours = 0;
					
		document.getElementById("init_printer").addEventListener("click", start_count);	
				
		function start_count(){
			setInterval(stopwatch, 1000);
		}
				
		function stopwatch(){
			seconds++;
			if(seconds >= 60){
				seconds = 0;
				minutes++;
				if(minutes >= 60){
					minutes = 0;
					hours++;
				}
			}
					
			counter.innerHTML = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + 
								(minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" +
								(seconds > 9 ? seconds : "0" + seconds);
		}
	</script>

</body>	
</html>
