<!DOCTYPE html>
<html>
<head>
	
	<style>
		.init_button{
			background-color:red;
		}
	</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
</head>
<body>
	<main>
		<!-- <form action="http://127.0.0.1:5000/getData" method="POST" enctype="multipart/form-data"> -->
			<!-- The enctype attribute can be used only if method="post" -->
			
		<form method="POST">
			<fieldset>
				<legend>Start printing</legend>
				
				<!-- <input type="file" value="Send print file" name="file"> <!-- ADD NAME ATTRIBUTE!!! -->
				
				<input type="text" id="texto" placeholder="add a comment">
				
				<select id="options">
					<option value="A">Option1</option>
					<option value="B">Option2</option>
					<option value="C">Option3</option>
				</select>
				
				<button type="submit" class="{{color_class}}">Initialize printer</button> <!-- replaces {{color_class}} with "init_button" received by python script -->
		
			</fieldset>
			
			<input type="submit" value="Stop printer" formaction="http://127.0.0.1:5000/stopPrinting">
			<!-- TIME PRINTING / TOTAL TIME -->
		</form>
		
		<input type="button" id="init_printer" value="stopwatch">
		
		<time id="counter">00:00:00</time>
				
		<div id="contenedor"></div>
		
	</main>
	
	<script src="{{url_for('static', filename='js/counter.js') }}"></script>
	<!-- Create a 'static' folder and within a 'js' folder -->

</body>	
</html>
